.Chat-main__message-list__message-box
  .Chat-main__message-list__message-box__sender
    .Chat-main__message-list__message-box__sender__sender-name
      = message.user.name
      &nbsp; 
    .Chat-main__message-list__message-box__sender__date
      = message.created_at.to_s(:datetime)
  .Chat-main__message-list__message-box__message
    - if message.body.present?
      %p.Chat-main__message-list__message-box__message__body
        = message.body
    = image_tag message.image.url, class: 'Message__image' if message.image.present?