.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      .Side-bar__user-name__top-items__name masa
      %ul.Side-bar__user-name__top-items__btns 
        %li.Side-bar__user-name__top-items__btns__btn
        = link_to "#" do
          = icon('fas', 'edit', class:'icon')
        %li.Side-bar__user-name__top-items__btns__btn
        = link_to "#" do
          = icon('fas', 'cog', class:'icon')
  .Side-bar__group-list