* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  .Side-bar {
    width: 300px;
    background-color: #253142;
    &__user-name {
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__top-items {
        height: 20px;
        width: 260px;
        background-color: #d8d8d8;
        display: flex;
        justify-content: space-between;
        &__name {
          width: calc(100% - 60px);
        }
        &__bts {
          width: 60px;
          list-style: none;
          display: flex;
          justify-content: flex-start;
          &__btn {
            color: red;
          }
          &__btn {
            color: red;
          }
        }
      }
    }
    &__group-list {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
    }
  }

  .Chat-main {
    width: calc(100vw - 300px);
    background-color: #ffffff;
    &__group-info {
      height: 100px;
      background-color: #ffffff;
      border-bottom: 1px solid #eeeeee;
    }
    &__message-list {
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
    }
    &__message-form {
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}



