* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  .Side-bar {
    width: 300px;
    background-color: #253142;
  }
  .Chat-main {
    width: calc(100vw - 300px);
    background-color: #ffffff;
  }
}



